

body{
    background-color: #c9dbed;
}


.article{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap:10px;
}

.starColor{
    color: #004282;
}

.universe{
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}

.myButton{
    margin-bottom: 30px;
    background-color: #c9dbed;
    color: #004282;
    max-width: 400px;
    border-radius: 15px;
    border-color: #004282;
    font-size: 18px;
    height:auto;
}

.myButton:hover{
    background-color: yellow;
}
